@import url('https://fonts.googleapis.com/css2?family=Amethysta&family=Lora:ital,wght@0,400..700;1,400..700&family=Maitree:wght@200;300;400;500;600;700&display=swap');
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin and padding
*/
* {
  margin: 0;
  padding: 0;
}

/*
  Ensure html and body take full height
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0; /* Ensure no default margin */
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --lightBrow: #e5d0ac;
  --background: #fef9e1;
  --red: #a31d1d;
  --darkRed: #6d2323;
  --green: #4caf50;
  --text: #333;
}

/* font-family: "Lora", serif; */
/* font-family: "Amethysta", serif; */
/* font-family: "Maitree", serif; */

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0; /* Ensure no default padding */
  margin: 0; /* Ensure no default margin */
}

header {
  background: var(--darkRed);
  min-height: 80px;
  display: flex;
  align-items: center;
}

nav {
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li button {
  color: var(--lightBrow);
  background: transparent;
  border: none;
  font-weight: bold;
  padding: 0 10px;
  position: relative;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.5s;
  font-family: "Amethysta", serif; 
}

nav ul li button:hover {
  color: var(--background);
}

.background {
  background-color: var(--background);
}

.homePage {
  background-image: url(./a.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 914px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--darkRed);
  opacity: 0.6;
  z-index: 1;
}

.homePage h1,
.homePage p {
  position: relative;
  z-index: 2;
  color: var(--background);
}

.homePage h1{
  font-family: "Lora", serif; 
}

.homePage p{
  font-family: "Maitree", serif;
}

.textArea {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.textArea .menu {
  color: var(--background);
  background: transparent;
  border: none;
  font-weight: bold;
  padding: 0 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--background);
  background-color: var(--darkRed);
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  font-family: "Amethysta", serif; 
}

.textArea .menu:hover {
  border-color: var(--darkRed);
  background-color: var(--background);
  color: var(--darkRed);
}

.menuPage {
  background-image: url(./a.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 20px;
  min-height: 914px; 
}

.menuPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--darkRed);
  opacity: 0.6;
  z-index: 1; 
}

.menuPage h2 {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-size: 32px;
  margin-bottom: 30px;
  color: var(--background);
  position: relative; 
  z-index: 3; 
  font-family: "Lora", serif; 
}

.menuPage h3 {
  font-size: 24px;
  color: var(--background);
  position: relative; 
  z-index: 3; 
  font-family: "Amethysta", serif;
  text-decoration: underline; 
}

.menuPage ul{
  font-family: "Maitree", serif;
}

.menuList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  color: var(--background);
  position: relative; 
  z-index: 3; 
}

.menuList li {
  margin: 8px;
}